*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 33);
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 88px;
    background-color: rgb(18, 18, 62);
}
nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}
nav ul li a{
    list-style-type: none;
    margin: 0 23px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(153,153,226);
    font-size: 1.04rem;
}
.left{
    font-size: 1.5rem;
} 
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.firstSection > div{
    width: 30%;
    
}
.leftSection{
    width: 50%;
    font-size: 3rem;
}
.rightSection img{
    margin: 50px 0;
    width: 80%;
    height: 5%;
}
#element,.purple{
    color: blueviolet;
}
.aboutme{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    text-decoration: underline;
}
.box{
    background-color:#3645af ;
    height: 150px;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;    
}

.myskill{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    text-decoration: underline;
}
.html{
    margin-left: 10%;
    color: aqua;
}
.batterybar{
    background-color: #6baaae;
    height: 10px;
    width: 10%;
    margin-left: 90%;
    border-radius:5px ;   
}
.hbar{
    height: 10px;
    width: 70%;
    background-color: aqua;
    margin-left: 10%;
    border-radius: 5px;
}
.percent{
    color: aqua;
    margin-left: 70%;
}

.css{
    margin-left: 10%;
    color: green;
    margin-top: 20px;
}
.batterybar-css{
    background-color: #6baaae;
    height: 10px;
    width: 5%;
    margin-left: 95%;
    border-radius:5px ;   
}
.hbar-css{
    height: 10px;
    width: 70%;
    background-color: green;
    margin-left: 10%;
    border-radius: 5px;
}
.percent-css{
    color: green;
    margin-left: 70%;
}

.javascript{
    margin-left: 10%;
    color: yellow;
    margin-top: 20px;
}
.batterybar-java{
    background-color: #6baaae;
    height: 10px;
    width: 50%;
    margin-left: 50%;
    border-radius:5px ;   
}
.hbar-java{
    height: 10px;
    width: 70%;
    background-color: yellow;
    margin-left: 10%;
    border-radius: 5px;
}
.percent-java{
    color: yellow;
    margin-left: 70%;
}

.c{
    margin-left: 10%;
    color: red;
    margin-top: 20px;
}
.batterybar-c{
    background-color: #6baaae;
    height: 10px;
    width: 30%;
    margin-left: 70%;
    border-radius:5px ;   
}
.hbar-c{
    height: 10px;
    width: 70%;
    background-color: red;
    margin-left: 10%;
    border-radius: 5px;
    margin-bottom: 20px;
}
.percent-c{
    color: red;
    margin-left: 70%;
}
.container-box{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
}
.container{
    background-color: #353839;
    height: 100px;
    width: 200px;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 5px;
    margin-bottom: 20px;
}
.container:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.heading{
    background-color: #353839;
    color: aqua;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: 40px;
    border-radius: 5px;
}

.heading-C a{
    text-align: center;
    text-decoration: none;
    background-color: #353839;
    color: aqua;
    font-size: 30px;
    font-weight: 700;
    height: 40px;
    border-radius: 5px;
    margin-left: 1.5rem;
}
.heading-C a:hover{
    color: rgb(0, 68, 255);
    cursor: pointer;
}

.heading-C a:active{
    color: rgb(0, 132, 255);
    cursor: no-drop;
}

#p1{
    background-color: #353839;
    color: white;
    text-align: center;
}
#p2{
    background-color: #353839;
    color: whitesmoke;
    text-align: center;
    padding-top: 1rem;
}

/* footer */

.footer{
    background-color: #15333d;
    height: 12vw;
    margin-top: 13vw;
    text-align: center;
    padding: 2vw;
}
h3{
    margin-top: 1vw;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
}
.footer-first,.footer-second,.footer-third,.footer-fourth{
    margin: 0.3rem;
}
